<% layout('/includes/boilerplate') %>
<header>
  <h1>All Blogs</h1>
  <a href="/blogs/new"><button class="newButton"><i class="fa-solid fa-book"></i> Create New Blog</button></a>
  <% for(let blogs of blog){ %>
  <div class="Blog-Container">
    <h1 class="topic">Topic: <%= blogs.topic %></h1>
    <h3 class="title">Title: <%= blogs.title %></h3>
    <h4 class="content">Blog: <%= blogs.content %></h4>
    <br>
    <p class="timestamp">
      Time:
      <%= new Date(blogs.createdAt).toLocaleTimeString('en-US', {hour: '2-digit',minute: '2-digit',hour12: true}) %>
    </p>

    <p class="date">Date: <%= blogs.createdAt.toString().split(" ").slice(0, 4).join("-") %></p>
  </div>
  <% } %>
</header>